# 
NODE_ENV=development
# NODE_ENV=production

#
NEXT_PUBLIC_FRONTEND_LOCAL_URL=http://localhost:3000
NEXT_PUBLIC_FRONTEND_SERVER_URL=your_frontend_hosted_url

# 
NEXT_PUBLIC_BACKEND_LOCAL_URL=http://localhost:5001
NEXT_PUBLIC_BACKEND_SERVER_URL=your_backend_hosted_url

# 
NEXT_PUBLIC_GA_MEASUREMENT_ID=your_analytics_measurement_id

